---
import {SEO} from 'astro-seo'
import Umami from '../components/Umami.astro';

const books = [
	{
		title: "产品经理的无限游戏",
		author: "王坚",
		cover: "/images/chan-pin-jing-li-de-wu-xian-you-xi.jpeg",
		description: "这是一本介绍互联网产品经理如何工作的书",
		download: "https://ebook-downloads.epubkit.app/ebooks/chan-pin-jingli.epub",
		source: "https://jiewang.gitbook.io/chan-pin-jing-li-de-wu-xian-you-xi",
	},
	{
		title: "初创公司创始人的思维方式",
		author: "Paras Chopra",
		cover: "/images/mental-models-for-startup-founders.jpeg",
		description: "Mental Models for Startup Founders 中英对照",
		download:
			"https://ebook-downloads.epubkit.app/Mental-Models-for-Startup-Founders.epub",
		source:
			"https://invertedpassion.com/free-book-mental-models-for-startup-founders/",
	},
	{
		title: "两个月 $12000 ARR 实践之路",
		author: "硬地骇客团队",
		cover: "/images/indie-hacker.png",
		download: "https://ebook-downloads.epubkit.app/2-months-12000-arr.epub",
		description: "本书是关于 Podwise 产品从灵感到变现过程的忠实记录以及复盘。",
		source: "https://book.hardhacker.com/",
	},
	{
		title: "计算机教育中缺失的一课",
		author: "MIT",
		cover: "/images/ji-suan-ji-jiao-yu-zhong-que-shi-de-yi-ke.png",
		download: "https://ebook-downloads.epubkit.app/ji-suan-ji-jiaoyu.epub",
		description: "MIT 出品的学习使用编程工具的课程",
		source: "https://missing-semester-cn.github.io/",
	},
];
---

<html lang="en">
	<head>
		<SEO 
			title="EpubKit 电子书精选"
		/>
		<Umami />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/fav.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>EpubKit 电子书精选</title>
	</head>

	<body>
		<div class="max-w-[1440px] mx-auto px-6">
			<div class="prose mt-12 mb-6">
				<h2>EpubKit 电子书精选</h2>
				<p>
					<a href="https://epubkit.app" target="_blank" >EpubKit</a> 是一个把网页打包成电子书的工具。这里精选了一些个人认为值得一读的资源，均为使用 EpubKit 打包成 ePub 格式的电子书，可以在 Kindle, iPad, 微信读书等设备上阅读。
				</p>
				<p>
					<i>所有生成的电子书均由原作者公开发布，版权归原作者所有。本站不以此收取任何费用。</i>
				</p>
			</div>
			<div class="mb-12 flex gap-3 items-end">
				<a href="https://tally.so/r/wdYRJK" target="_blank" class="btn">申请收录</a>

				<a class="btn btn-outline" target="_blank" href="https://epubkit.substack.com/subscribe?utm_source=menu&simple=true&next=https%3A%2F%2Fepubkit.substack.com%2Fs%2Fchinese">Email 订阅</a>
			</div>
			<div class="grid xl:grid-cols-2 gap-8">
				{books.map(book => {
					return (
						<div class="card lg:card-side bg-base-100 shadow-xl">
							<figure class="pt-12 lg:pt-0"><img class="w-[140px] rounded-xl lg:rounded-none" src={book.cover} alt={book.title}/></figure>
							<div class="card-body">
								<h2 class="card-title">{book.title}</h2>
								<h3 class="text-base-content/60">{book.author}</h3>
								<p>{book.description}</p>
								<div class="card-actions justify-end gap-3">
									<a href={book.source} target="_blank" class="btn btn-sm">来源</a>
									<a href={book.download} target="_blank" class="btn btn-sm btn-primary">下载</a>
								</div>
							</div>
						</div>
					)
				})}
			</div>
		</div>

		<footer class="my-24">

		</footer>
	</body>
</html>
